body{
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
    color:#222;
}

.navbar{
    background:#111;
    color:white;
    padding:15px 20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

.nav-links a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}

.hero{
    background:#222;
    color:white;
    text-align:center;
    padding:70px 20px;
}

.hero h1{
    font-size:42px;
    margin-bottom:10px;
}

.hero p{
    font-size:20px;
}

.container{
    max-width:500px;
    margin:auto;
    background:white;
    padding:25px;
    margin-top:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.estimator-section{
    padding:20px;
}

form{
    display:flex;
    flex-direction:column;
}

input,
select,
button{
    margin-bottom:15px;
    padding:14px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:16px;
}

button{
    background:#111;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#333;
}

.results{
    margin-top:30px;
    text-align:center;
}

.price{
    font-size:30px;
    font-weight:bold;
}

.btn{
    display:block;
    background:green;
    color:white;
    text-decoration:none;
    padding:14px;
    margin-top:15px;
    border-radius:6px;
}

.secondary{
    background:#333;
}
